extends baseEmail

block content
  p Hi #{firstName},
  p Copy the below token and paste it in the website to set a new password (valid for 10minutes):
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  b(style="color: #ffffff;") #{url}
  p If you didn't forget your password, please ignore this email!