//- header
//-     h1 SBIOA UNITY ENCLAVE
//-     if user
//-         p.user__name= user.firstName 
//-         img.avatar.account__nav(src=`/static/img/users/${user.photo}` alt="user image")
//-         button.logout Log out
//-     else
//-         a(href='/signup') Join now
//-         button.login Log in

header.nav__header
    h1.nav__h1 SBIOA UNITY ENCLAVE
    if user
        p.user__name.nav__username= user.firstName 
        img.avatar.account__nav.nav__userimage(src=`/static/img/users/${user.photo}` alt="user image")
        button.logout.nav__logbtn Log out
    else
        a.nav__a(href='/signup') Join now
        button.login.nav__logbtn Log in