extends base

block linkcontent
    link(rel='stylesheet' href='css/account.css')

//- block header
//-     include _header

//- block marquee
//-     include _marquee

block content
    .container
        .card
            .menu__items
                li General
                li My Homes
                li My classifieds
                li My posts
            .input__fields
                //- form.form--update(action="/submit-user-data" method='POST')
                form.form--update
                    label(for='firstName') First Name
                    input(type="text", id='firstName', name='firstName', value=`${user.firstName}`)
                    label(for='lastName') Last Name
                    input(type="text", id='lastName', name='lastName', value=`${user.lastName}`)
                    label(for='email') Email
                    input(type="email", id='email', name='email', value=`${user.email}`)
                    img.profile__picture(src=`/img/users/${user.photo}`, alt='profile picture')
                    input.photo__input(type="file", accept='image/*', id='photo__input')
                    button.update Update
            .password__content
                form.form__password--update
                    label(for='currentPassword') Current Password
                    input(type="password", id='currentPassword', name='currentPassword')
                    label(for='newPassword') New Password
                    input(type="password", id='newPassword', name='newPassword')
                    label(for='confirmPassword') Confirm Password
                    input(type="password", id='confirmPassword', name='confirmPassword')
                    button.update--password Update Password