extends base

block linkcontent
    link(rel='stylesheet' href='/static/css/style.css')
    link(rel='stylesheet' href='/static/css/addHomePage2.css')
    link(rel='stylesheet' href='/static/css/alert.css')

block header
    include _header

block content
    .wrapping--container
        h1(style='font-size: 2.3rem;') Add your home details
        h2.steps(style='margin-top: 1.5rem;')
            p.green Step 3 &nbsp
            p.grey of &nbsp 3
        h2.steps(style='margin-top: 1.5rem;')
            p Upload your home images or skip.
        form.addHome__form--page3(action=`http://127.0.0.1:8000/api/v1/homes/upload-home-images/${homeId}` method='POST' enctype='multipart/form-data')
            #images__upload.form__elements.option__elements.mt
                label.custom-file-upload.mt(for='images')
                    p(style="font-size: 1.6rem;") Upload Images
                input.mt(type='file', multiple='multiple', accept='image/*', name='images', id='images')
            button.btn.mt--large(type='submit' data-id=homeId) Update home
            a.btn.mt--large.ml--large(href='/allHomes') Skip