extends base

block linkcontent
    link(rel='stylesheet' href='/static/css/style.css')
    link(rel='stylesheet' href='/static/css/addHomePage2.css')
    link(rel='stylesheet' href='/static/css/alert.css')

block header
    include _header

block content
    .wrapping--container
        h1(style='font-size: 2.3rem;') Edit your home details
        h2.steps(style='margin-top: 1.5rem;')
            p.green Step 2 &nbsp
            p.grey of &nbsp 2
        form.editHome__form--page2
            #bedroom.form__elements
                input(type='text' required='' name='block' id='bedRoom' value=home.bedRoom)
                label.label(for='bedRoom')
                    span.label__content Bedroom
            #bathroom.form__elements
                input(type='text' required='' name='block' id='bathRoom' value=home.bathRoom)
                label.label(for='bathRoom')
                    span.label__content Bathroom
            #tenants.form__elements.option__elements
                label.options--header Preferred tenants &nbsp
                    i (Optional)
                if(home.family)
                    div
                        input(type='radio' id='family' name='tenant' value='true' checked)
                        label.options(for='family') Family
                    div
                        input(type='radio' id='not-family' name='tenant' value='false')
                        label.options(for='not-family') Any
                else 
                    div
                        input(type='radio' id='family' name='tenant' value='true')
                        label.options(for='family') Family
                    div
                        input(type='radio' id='not-family' name='tenant' value='false' checked)
                        label.options(for='not-family') Any
            #food.form__elements.option__elements.mt
                label.options--header Preferred food &nbsp
                    i (Optional)
                if(home.food)
                    div
                        input(type='radio' id='veg' name='food' value='true' checked)
                        label.options(for='veg') Vegitarian
                    div
                        input(type='radio' id='not-veg' name='food' value='false')
                        label.options(for='not-veg') Any
                else 
                    div
                        input(type='radio' id='veg' name='food' value='true')
                        label.options(for='veg') Vegitarian
                    div
                        input(type='radio' id='not-veg' name='food' value='false' checked)
                        label.options(for='not-veg') Any
            #rent__negotiable.form__elements.option__elements.mt
                label.options--header Rent negotiable &nbsp
                    i (Optional)
                if(home.negotiable)
                    div
                        input(type='radio' id='negotiable' name='negotiable' value='true' checked)
                        label.options(for='negotiable') Yes
                    div
                        input(type='radio' id='not-negotiable' name='negotiable' value='false')
                        label.options(for='not-negotiable') No
                else 
                    div
                        input(type='radio' id='negotiable' name='negotiable' value='true')
                        label.options(for='negotiable') Yes
                    div
                        input(type='radio' id='not-negotiable' name='negotiable' value='false' checked)
                        label.options(for='not-negotiable') No
            button.btn.mt--large(type='submit' data-id=home.id) Save changes