extends base

block linkcontent
    link(rel='stylesheet' href='/static/css/login.css')
    link(rel='stylesheet' href='/static/css/alert.css')

block content
    .container
        h1 #{page}
        
        form.form.form--forgotPassword
            .card
                .row
                    label(for="email") Enter your registered email
                    input(type="text" id="email")
                button.signin-btn Verify