extends base

block header
    include _header

block marquee
    include _marquee
    
block content    
    //- CONTENT 
    .content
        .welcome-section
            h2 Welcome to our neighbourhood community
            .option-card.shadow
                a(href='#') Search for a home
                p
            .option-card.shadow
                a(href='#') Find a person to know
                p
            .option-card.shadow
                a(href='#') Explore the community
                p

        .undraw-section
            img.illustration(src='image/undraw_best_place_r685.svg' alt='Illustration')