extends base

block linkcontent
    link(rel='stylesheet' href='/static/css/login.css')
    link(rel='stylesheet' href='/static/css/alert.css')

block content
    .container
        h1 #{page}
        
        form.form.form--resetPassword
            .card
                .row
                    label(for="password") New Password
                    input(type="password" id="password" required)
                .row
                    label(for="confirmPassword") Confirm Password
                    input(type="password" id="confirmPassword" required)
                .row 
                    label(for="token") Enter the token sent to your mail here
                    input(type="text" id="token" required)
                button.signin-btn Save changes