* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    font-size: 62.5%;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
}

.container {
    height: 80vh;
    margin: 2rem;
    /* position: relative; */
}

.card__outline {
    background-color: #ffffff;
    padding: 1rem;
    display: grid;
}

.profile__Section {
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1rem;
}

.profile__picture {
    width: 6rem;
}

.flex__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.icon {
    width: 1.3rem;
}

.home-list {
    row-gap: 1rem;
}

.home-list:last-child hr{
    visibility: hidden;
}

.home__icon {
    width: 1.6rem;
}

.home__list--icon {
    width: 1rem;
}

p {
    font-size: 1rem;
    display: inline-block;
}

.other__settings {
    row-gap: 1rem;
}

.other__settings * {
    cursor: pointer;
}

/* .footer {
    position: absolute;
    bottom: 0;
} */

.footer h2 {
    color:  #546679;
    text-align: center;
    font-size: 1.2rem;
}

.center {
    text-align: center;
}

.shadow {
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.mb {
    margin-bottom: 1rem;
}

h2, h3 {
    color: #0E76A8;
}

.btn-red {
    color: #ffffff;
    justify-self: start;
    padding: .7rem 1.4rem;
    border-radius: 5px;
    border-color: transparent;
    background-color: #e13f3e;
    box-shadow: 0 18px 40px -12px #e13f3e; /* x y blur spread */
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: .8rem;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .profile__picture {
        width: 4rem;
    }
}